<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
  <link rel="shortcut icon" href="/img/icon.png" type="image/png">
  <link rel="stylesheet" href="/css/style.css">
  <title>Jimuse</title>
</head>
<body>
	<div class="wrap">
	<header>

		<div class="logo">
			<a href="#"><img class="graficlogo" src="img/jimuse.png" alt="Logo"></a>
		</div>
		<div class="signin-signup">
			<a href="sign in.html" class="signin" target="_blank">Sign in</a>
			<span class="or" id="top" target="_blank">or</span>
			<a href="#" class="signup">Sign up</a>
		</div>
	</header>
	<nav>
	<ul class="topnav" id="mytopnav">
			<li><a href="#">Главная</a></li>
			<li><a href="#" >Проекты</a></li>
			<li><a href="#">Что-то</a></li>
			<li><a href="#">Оформить заказ</a></li>
			<li><a href="#">Наша команда</a></li>
	    </ul>
	</nav>
	<main>
	<div class="gg">
	<div id="heroList">
	 <h2 class="title">Список героев</h2>
    <div class="hero">
      <img src="/img/hero1.jpg">
      <div class="discription"><p class="name">Герой 1</p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam a labore assumenda excepturi minima, facilis vero nemo, reiciendis blanditiis deleniti.</div>
      <input type="button" value="Добавить" id="enterbut1">
    </div>
    <div class="hero">
        <img src="/img/hero2.jpg">
        <div class="discription"><p class="name">Герой 2</p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam a labore assumenda excepturi minima, facilis vero nemo, reiciendis blanditiis deleniti.</div>
        <input type="button" value="Добавить" id="enterbut2">
      </div>
      <div class="hero">
          <img src="/img/hero3.jpg">
          <div class="discription"><p class="name">Герой 3</p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam a labore assumenda excepturi minima, facilis vero nemo, reiciendis blanditiis deleniti.</div>
          <input type="button" value="Добавить" id="enterbut3">
        </div>
        <div class="hero">
            <img src="/img/hero4.jpg">
            <div class="discription"><p class="name">Герой 4</p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam a labore assumenda excepturi minima, facilis vero nemo, reiciendis blanditiis deleniti.</div>
            <input type="button" value="Добавить" id="enterbut4">
          </div>
	 </div>
      <div class="block customizations" id="enterblock1">
        <div class="select">
          <select>
            <option>Гитара</option>
            <option>Барабан</option>
            <option>Флейта</option>
            <option>Гармошка</option>
          </select>
          <select>
            <option>Костюм Сталина</option>
            <option>Костюм Утки</option>
            <option>Костюм Путина</option>
            <option>Костюм Кота</option>
            <option>Костюм Хот-дога</option>
            <option>Костюм Собаки</option>
            <option>Костюм Путина</option>
            <option>Костюм Кота</option>
          </select>
        </div>
        <img src="/img\hero1.jpg">

        <div class="tonality">
          <p><input type="radio" class="radio" name="ton1">
            <label for="radio">
              <audio controls>
                <source src="/music.ogg" type="audio/ogg; codecs=vorbis">
                <source src="/music.mp3" type="audio/mpeg">
              </audio>
            </label>
          </p>
          <p><input type="radio" class="radio" name="ton1">
              <label for="radio">
                <audio controls>
                  <source src="/music.ogg" type="audio/ogg; codecs=vorbis">
                  <source src="/music.mp3" type="audio/mpeg">
                </audio>
            </label>
          </p>
          <p><input type="radio" class="radio" name="ton1">
              <label for="radio">
                <audio controls>
                  <source src="/music.ogg" type="audio/ogg; codecs=vorbis">
                  <source src="/music.mp3" type="audio/mpeg">
                </audio>
            </label>
          </p>
          <p><input type="radio" class="radio" name="ton1">
              <label for="radio">
                <audio controls>
                  <source src="music.ogg" type="audio/ogg; codecs=vorbis">
                  <source src="music.mp3" type="audio/mpeg">
                </audio>
            </label>
          </p>
        </div>
        <button class="block__close">Подтвердить</button>
    </div>
     <div class="block customizations" id="enterblock2">
        <div class="select">
          <select>
            <option>Гитара</option>
            <option>Барабан</option>
            <option>Флейта</option>
            <option>Гармошка</option>
          </select>
          <select>
            <option>Костюм Сталина</option>
            <option>Костюм Утки</option>
            <option>Костюм Путина</option>
            <option>Костюм Кота</option>
            <option>Костюм Хот-дога</option>
            <option>Костюм Собаки</option>
            <option>Костюм Путина</option>
            <option>Костюм Кота</option>
          </select>
        </div>
        <img src="img\hero2.jpg">

        <div class="tonality">
          <p><input type="radio" class="radio" name="ton1">
            <label for="radio">
              <audio controls>
                <source src="music.ogg" type="audio/ogg; codecs=vorbis">
                <source src="music.mp3" type="audio/mpeg">
              </audio>
            </label>
          </p>
          <p><input type="radio" class="radio" name="ton1">
              <label for="radio">
                <audio controls>
                  <source src="music.ogg" type="audio/ogg; codecs=vorbis">
                  <source src="music.mp3" type="audio/mpeg">
                </audio>
            </label>
          </p>
          <p><input type="radio" class="radio" name="ton1">
              <label for="radio">
                <audio controls>
                  <source src="music.ogg" type="audio/ogg; codecs=vorbis">
                  <source src="music.mp3" type="audio/mpeg">
                </audio>
            </label>
          </p>
          <p><input type="radio" class="radio" name="ton1">
              <label for="radio">
                <audio controls>
                  <source src="music.ogg" type="audio/ogg; codecs=vorbis">
                  <source src="music.mp3" type="audio/mpeg">
                </audio>
            </label>
          </p>
        </div>
        <button class="block__close">Подтвердить</button>
    </div>
     <div class="block customizations" id="enterblock3">
        <div class="select">
          <select>
            <option>Гитара</option>
            <option>Барабан</option>
            <option>Флейта</option>
            <option>Гармошка</option>
          </select>
          <select>
            <option>Костюм Сталина</option>
            <option>Костюм Утки</option>
            <option>Костюм Путина</option>
            <option>Костюм Кота</option>
            <option>Костюм Хот-дога</option>
            <option>Костюм Собаки</option>
            <option>Костюм Путина</option>
            <option>Костюм Кота</option>
          </select>
        </div>
        <img src="img\hero3.jpg">
        <div class="tonality">
          <p><input type="radio" class="radio" name="ton1">
            <label for="radio">
              <audio controls>
                <source src="music.ogg" type="audio/ogg; codecs=vorbis">
                <source src="music.mp3" type="audio/mpeg">
              </audio>
            </label>
          </p>
          <p><input type="radio" class="radio" name="ton1">
              <label for="radio">
                <audio controls>
                  <source src="music.ogg" type="audio/ogg; codecs=vorbis">
                  <source src="music.mp3" type="audio/mpeg">
                </audio>
            </label>
          </p>
          <p><input type="radio" class="radio" name="ton1">
              <label for="radio">
                <audio controls>
                  <source src="music.ogg" type="audio/ogg; codecs=vorbis">
                  <source src="music.mp3" type="audio/mpeg">
                </audio>
            </label>
          </p>
          <p><input type="radio" class="radio" name="ton1">
              <label for="radio">
                <audio controls>
                  <source src="music.ogg" type="audio/ogg; codecs=vorbis">
                  <source src="music.mp3" type="audio/mpeg">
                </audio>
            </label>
          </p>
        </div>
        <button class="block__close">Подтвердить</button>
    </div>
     <div class="block customizations" id="enterblock4">
        <div class="select">
          <select>
            <option>Гитара</option>
            <option>Барабан</option>
            <option>Флейта</option>
            <option>Гармошка</option>
          </select>
          <select>
            <option>Костюм Сталина</option>
            <option>Костюм Утки</option>
            <option>Костюм Путина</option>
            <option>Костюм Кота</option>
            <option>Костюм Хот-дога</option>
            <option>Костюм Собаки</option>
            <option>Костюм Путина</option>
            <option>Костюм Кота</option>
          </select>
        </div>
        <img src="img\hero4.jpg">

        <div class="tonality">
          <p><input type="radio" class="radio" name="ton1">
            <label for="radio">
              <audio controls>
                <source src="music.ogg" type="audio/ogg; codecs=vorbis">
                <source src="music.mp3" type="audio/mpeg">
              </audio>
            </label>
          </p>
          <p><input type="radio" class="radio" name="ton1">
              <label for="radio">
                <audio controls>
                  <source src="music.ogg" type="audio/ogg; codecs=vorbis">
                  <source src="music.mp3" type="audio/mpeg">
                </audio>
            </label>
          </p>
          <p><input type="radio" class="radio" name="ton1">
              <label for="radio">
                <audio controls>
                  <source src="music.ogg" type="audio/ogg; codecs=vorbis">
                  <source src="music.mp3" type="audio/mpeg">
                </audio>
            </label>
          </p>
          <p><input type="radio" class="radio" name="ton1">
              <label for="radio">
                <audio controls>
                  <source src="music.ogg" type="audio/ogg; codecs=vorbis">
                  <source src="music.mp3" type="audio/mpeg">
                </audio>
            </label>
          </p>
        </div>
        <button class="block__close">Подтвердить</button>
    </div>
    <div class="group">
      <p class="name">Ваша группа:</p>
      <div class="participants"></div>
    </div>
  	<div class="orderList">
  		<p>Героев выбрано на</p>
      <p class="cost">$<span id="costValue">0</span></p>
	  	</div>
  	</div>
  </div>
</div>
	<div class="return" id="return">
		<a href="#" onclick="return up()"><img src="img/up.png"></a>
		</div>
	<div class="next">
		<button>Далее &raquo;</button>
	</div>
</main>
  	<footer>
		<div class="social">
			<a href="#"><img src="img/social_icons/em.png" alt="Email"></a>
			<a href="#"><img src="img/social_icons/face.png" class="v" alt="Facebook"></a>
			<a href="#"><img src="img/social_icons/goo.png" class="v" alt="Google+"></a>
			<a href="#"><img src="img/social_icons/inst.png" class="v" alt="Instagram"></a>
			<a href="#"><img src="img/social_icons/pint.png" class="v" alt="Pinterest"></a>
			<a href="#"><img src="img/social_icons/vk.png" class="v" alt="Vkontakte"></a>
		</div>
		<p>&copy; Jimuse.2018</p>
  </footer>
  <script src="js/script.js"></script>
  <script type="text/javascript" src="js/scroll.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="js/retutn1.js"></script>
  <script src='js/events.js'></script>
</body>
</html>
